body {
	background-color: #f5f5f5;

	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #d32f2f;
	color: white;
	padding: 0px 20px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
}

.logo {
	height: 100px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.datetime {
	text-align: right;
}

.date,
.time {
	display: block;
}

.time {
	font-size: 30px;
}

main {
	align-items: center;
	display: flex;
	background-color: #f5f5f5;
	padding: 20px 0;
}

.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.left-column,
.right-column {
	background-color: white;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 45%;
	text-align: center;
}

.left-column a,
.right-column a {
	color: black;
	text-decoration: none;
}

.left-column a:hover,
.right-column a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0;
}

/* Mengatur nav */
.Nav-list {
	padding: 3rem;
}

.Nav-list:hover {
	background-color: rgb(161, 23, 23);
	transition: 0.3s;
}

.active {
	color: #000000;
}

.Welcome {
	/* border: solid black 1px;s */
	justify-content: space-between;
	margin-top: 6em;
	margin-left: 5%;
	margin-right: 50%;
}
.Welcome p {
	line-height: 1.5em;
}
.Welcome img {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 800px;
	top: 200px;
}

footer {
	position: fixed;
	bottom: 0;
	background: #d32f2f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 3.5rem;
	width: 95%;
	height: fit-content;
}

.isi {
	display: flex;
	flex-direction: column;
	height: fit-content;
	gap: 4px;
}

.isi .email {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: white;
	margin: 0;
	width: fit-content;
}

.isi .email svg {
	width: 30px;
	height: 30px;
	justify-content: flex-end;
	margin: 0;
}

.isi .email p,
.isi .ig p {
	margin: 0;
}

.isi .ig {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: white;
	width: fit-content;
}

.isi .ig img {
	width: 30px;
	height: 30px;
	color: white;
	margin: 0;
}

footer .copyright {
	color: white;
	padding: 1rem 3.5rem;
	margin: 0;
}

header,
main {
	animation: page 0.3s;
}
@keyframes page {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.highlight-red {
	background-color: #dd2c00;
}

.highlight-green {
	background-color: #28a745;
}
