/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #D32F2F;
    color: white;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.datetime {
    text-align: right;
}

.date, .time {
    display: block;
}

main {
    background-color: #F5F5F5;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    grid-template-rows: auto auto auto;
}

.list-kelas_atas {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-around;
}

.list-kelas_kiri {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.taman-container {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taman {
    max-width: 50%;
}

.list-kelas_kanan {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-kelas_Bawah {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.list-kelas_atas a, .list-kelas_kiri a, .list-kelas_kanan a, .list-kelas_Bawah a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 100px;
}

.list-kelas_atas a:hover, .list-kelas_kiri a:hover, .list-kelas_kanan a:hover, .list-kelas_Bawah a:hover {
    background-color: #D32F2F;
    color: white;
}
